/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.cannoli-button {
	position: absolute;
	bottom: 16px;
	margin: auto;
	left: 12%;
	width: 144px;
	height: 48px;
}

.whitespace {
	margin-left: 8px;
}

.curl-command-editor label {
	display: inline-block;
	margin-bottom: 4px;
	margin-right: 8px;
}

.curl-command-editor input,
.curl-command-editor textarea {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.curl-command-group {
	margin-bottom: 15px;
}

.curl-command-description {
	margin-top: -22px;
	font-size: 12px;
	opacity: 0.6;
	margin-left: 4px;
}
